{
  "extends": "standard-with-typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["src/**/*.spec.ts"],
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": 0
  }
}
